body {
    background-color: #e3e3e3;
}
.main-div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    margin: 50px 100px;
    padding: 20px;
    display: flex;
}
.header-container {
    font-weight: bold;
    font-size: 24px;
}
.desc-container {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 12px;
    color: grey;
}
.second-div {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 20px;
}
.ogeler {
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
}
.inputs {
    margin-top: 5px;
}
.message-div {
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;

}
.button-div {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.button {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px 20px;
    user-select: none;
    font-size: 20px;
    border: none;
}
.button:hover {
    background-color: green;
    cursor: pointer;
    color: white;
}
.button:active {
    transform: translateY(2px);
}